<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>complete</title>
</head>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function(){
        var formObj = $("#members");

        $("#btnOk").on("click", function() {
            self.location = "/log";
        });
    });
</script>
<body>
<h3>complete !</h3>
</body>
<div>
    <button type="submit" id="btnOk">go back</button>
</div>
</html>