<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fail</title>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
    $(document).ready(function(){
        var formObj = $("#members");

        $("#btnOk").on("click", function() {
            self.location = "/log";
        });
    });
    </script>
</head>
<h3>fail ... </h3>

<body>

</body>
<div>
    <button type="submit" id="btnOk">go back</button>
</div>
</html>