<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function() { //밑에 있는 애들을 도큐먼트레디 안에 다 넣어줘야 정상작동이 보장됨.(로딩의 차이)
     var formObj = $("#board");

     $("#btnModify").on("click", function() {
         formObj.attr("action", "postModify");
         formObj.attr("method", "post");
         formObj.submit();
     });

    $("#btnList").on("click", function() {
            self.location = "list";
        });
    });
</script>
<body>
    <h2>Modify</h2>
    <form id="board" action="board/success.html"
          th:action="@{modify}" <!--액션은 그냥 관습적으로 넣어주기-->
          th:object="${board}" method="post">
        <input type="hidden" name="boardNo" th:field="*{boardNo}">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title"
                           th:field="*{title}"></td>
                <td><font color="red">
            <span th:if="${#fields.hasErrors('title')}"
                  th:error="*{title}">
              title Error Message
        </span>
                </font></td>
            </tr>
            <tr>
                <td>Writer</td>
                <td><input type="text" name="Writer"
                           th:field="*{Writer}"></td>
                <td><font color="red">
            <span th:if="${#fields.hasErrors('Writer')}"
                  th:error="*{Writer}">
              Writer Error Message
        </span>
                </font></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea name="Content"
                              th:field="*{Content}"></textarea></td>
                <td><font color="red">
            <span th:if="${#fields.hasErrors('Content')}"
                  th:error="*{Content}">
            Content Error Message
        </span>
                </font></td>
            </tr>
        </table>
    </form>

    <div>
        <button type="submit" id="btnModify">Modify</button>
        <button type="submit" id="btnList">List</button>
    </div>
</body>
</html>