<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function() {
     var formObj = $("#itemMania");

     $("#btnModify").on("click", function() {
         formObj.attr("action", "postmodifies");
         formObj.attr("method", "post");
         formObj.submit();
     });

    $("#btnList").on("click", function() {
            self.location = "lists";
        });
    });
</script>
<body>
<h2>Modify</h2>
<form id="itemMania" action="itemMania/success.html"
      th:action="@{modify}"
th:object="${itemMania}" method="POST">
<input type="hidden" name="boardNum" th:field="*{boardNum}">
<table>
    <tr>
        <td>item</td>
        <td><input type="text" name="item"
                   th:field="*{item}"></td>
        <td><font color="red">
            <span th:if="${#fields.hasErrors('item')}"
                  th:error="*{item}">
              title Error Message
        </span>
        </font></td>
    </tr>
    <tr>
        <td>price</td>
        <td><input type="text" name="price"
                   th:field="*{price}"></td>
        <td><font color="red">
            <span th:if="${#fields.hasErrors('price')}"
                  th:error="*{price}">
              title Error Message
        </span>
        </font></td>
    </tr>
</table>
</form>

<div>
    <button type="submit" id="btnModify">Modify</button>
    <button type="submit" id="btnList">List</button>
</div>

</body>
</html>